@charset "utf-8";
html,
body {
  font-family: 'PingFang SC', 'Microsoft YaHei', Helvetica, Arial, sans-serif;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  font-weight: normal;
  font-style: normal;
  word-wrap: break-word;
  word-break: normal;
  font-size: 16px;
  /* line-height: 1; */
  color: #333;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
}

a {
    text-decoration: none;
  }
  
  img {
    border: none;
  }
  
  ul,ol {
    padding: 0;
    list-style-type: none;
  }
  
  .clearfix {
    clear: both;
    zoom: 1;
  }
  .clearfix::before {
    content: "";
    display: table;
  }
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  input,
  button,
  textarea {
    font-family: 'PingFang SC', 'Microsoft YaHei', Helvetica, Arial, sans-serif;
    -webkit-appearance: none;
    border: none;
    background: none;
    outline: none;
    resize: none;
  }
  
  input{
    color: #333;
  }
  input{
    outline:none!important;
    }
  /* * 去除滚动条 * */
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }
  
  ::-webkit-search-cancel-button {
    display: none;
  }
  
  ::-webkit-input-placeholder {
    color: #999;
  }


  /* 登录认证头部 */
  .auth-top{
    padding: 80px 0 36px;
    text-align: center;
    line-height: 82px;
    font-size: 18px; font-weight: bold;
}
.auth-top img{ float: left; width: 106px; height: 82px; margin-right: 15px;}
.auth-top-in{ display: inline-block;}





/* 上传视频图片展示列表 */
.demo-upload-list{
  vertical-align: top;
  display: inline-block;
  width: 195px;height:175px;
  text-align: center;
  line-height: 175px;
  /* border: 1px solid transparent; */
  border-radius: 4px;
  /* overflow: hidden; */
  background: #fff;
  position: relative;
  box-shadow: 0 1px 1px rgba(0,0,0,.2);
  margin-right: 15px;
}
.demo-upload-list img{
  width: 100%;
  height: 100%;
}
.demo-upload-list-cover{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.6);
}
.demo-upload-list:hover .demo-upload-list-cover{
  display: block;
}
.demo-upload-list-cover i{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin: 0 2px;
}
/* 上传视频图片展示列表 */

/* layout布局的大体 */
.layout {
  /* border: 1px solid #d7dde4; */
  /* background: #f5f7f9; */
  position: relative;
  /* border-radius: 4px; */
  /* overflow: hidden; */
}

.con-tit {
  font-size: 16px;
  font-weight: 700;
  padding: 0 0 25px;
}

header.topbar {
  height: 0.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;
  border-bottom: 1px solid #EAF0F1;
  background-color: #fff;
  text-align: center;
  }
  header.topbar h2 {
  font-size:0.17rem;
  font-family:PingFang-SC-Bold,PingFang-SC;
  font-weight:bold;
  color:rgba(51,51,51,1);
  height: 0.5rem;
  line-height: 0.5rem;
  }
  header.topbar span.fl img {
  width: 0.16rem;
  height: 0.16rem;
  position: absolute;
  /* left: 0.23rem; */
  left: 0.15rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
  }
  header.topbar .three_circles {
  display: inline-block;
  position: absolute;
  height: 0.08 rem;
  width: 0.3 rem;
  bottom: 0.2rem;
  right: 0.3rem;
  /* left:6.48rem; */
  }
  .h88 {
      height: 0.5rem;
  }